.page-header {
  background-image: url('../media/images/pattern.png') !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  background-color: transparent !important;
  background: url('../media/images/pattern.png') repeat !important;
}

